<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.builbu.business.user.repository.PermissionMapper">
  <resultMap id="BaseResultMap" type="top.builbu.business.user.entity.Permission">
     <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
     <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
     <result column="permission_sys" jdbcType="VARCHAR" property="permissionSys" />
     <result column="permission_level" jdbcType="INTEGER" property="permissionLevel" />
  </resultMap>
  
  
  <resultMap id="BaseResultMapDTO" type="top.builbu.business.user.dto.PermissionDTO">
     <id column="permission_id" jdbcType="BIGINT" property="permissionId" />
     <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
     <result column="permission_sys" jdbcType="VARCHAR" property="permissionSys" />
     <result column="permission_level" jdbcType="INTEGER" property="permissionLevel" />
  </resultMap>
  
  <sql id="Base_Column_List">
     permission_id,permission_name,permission_sys,permission_level
  </sql>
<!-- 列表  -->
  <select id="selectByList"  resultMap="BaseResultMapDTO">
     select 
     <include refid="Base_Column_List" />
     from permission where 1=1
      <if test="dto.permissionId != null">
      and  permission_id = #{dto.permissionId,jdbcType=BIGINT}
      </if>
      <if test="dto.permissionName != null">
      and  permission_name = #{dto.permissionName,jdbcType=VARCHAR}
      </if>
      <if test="dto.permissionSys != null">
      and  permission_sys = #{dto.permissionSys,jdbcType=VARCHAR}
      </if>
      <if test="dto.permissionLevel != null">
      and  permission_level = #{dto.permissionLevel,jdbcType=INTEGER}
      </if>
     order by permission_id desc limit #{offset},#{limit}
  </select>
  
<!-- 主键查询  -->

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission    
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </select>
  

<!-- 主键删除 --> 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permission
    where permission_id = #{permissionId,jdbcType=BIGINT}
  </delete>


<!-- 插入  -->
  <insert id="insert" parameterType="top.builbu.business.user.entity.Permission">
    insert into permission (
	    permission_id,permission_name,permission_sys,permission_level
      )
    values (
         #{permissionId,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{permissionSys,jdbcType=VARCHAR}, #{permissionLevel,jdbcType=INTEGER}
      )
  </insert>
 
<!-- 修改 -->  
  <update id="updateByPrimaryKey" parameterType="top.builbu.business.user.entity.Permission">
    update permission
    <set>
      <if test="permissionId != null">
        permission_id = #{permissionId,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionSys != null">
        permission_sys = #{permissionSys,jdbcType=VARCHAR},
      </if>
      <if test="permissionLevel != null">
        permission_level = #{permissionLevel,jdbcType=INTEGER}
      </if>
    </set>
  
    where permission_id = #{permissionId,jdbcType=BIGINT}
   
  </update>
<!--   批量删除       -->
  <delete id="deleteByAll" parameterType="java.lang.Long">
      delete from permission where permission_id in
      <foreach item="id" collection="delids" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>  
  
  <select id="selectByCount" resultType="java.lang.Integer">
		select count(1)
		from permission where 1=1
	      <if test="dto.permissionId != null">
	      and  permission_id = #{dto.permissionId,jdbcType=BIGINT}
	      </if>
	      <if test="dto.permissionName != null">
	      and  permission_name = #{dto.permissionName,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.permissionSys != null">
	      and  permission_sys = #{dto.permissionSys,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.permissionLevel != null">
	      and  permission_level = #{dto.permissionLevel,jdbcType=INTEGER}
	      </if>
	</select>
</mapper>