<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.builbu.business.user.repository.UserMapper">
  <resultMap id="BaseResultMap" type="top.builbu.business.user.entity.User">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    <id column="user_Id" jdbcType="BIGINT" property="userId" />
    <result column="create_By_Date" jdbcType="TIMESTAMP" property="createByDate" />
    <result column="create_By_Id" jdbcType="BIGINT" property="createById" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="Icons" jdbcType="VARCHAR" property="icons" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="on_Line_Status" jdbcType="INTEGER" property="onLineStatus" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="update_by_date" jdbcType="TIMESTAMP" property="updateByDate" />
    <result column="update_by_id" jdbcType="BIGINT" property="updateById" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    user_Id, create_By_Date, create_By_Id, email, Icons, nickname, on_Line_Status, password, 
    update_by_date, update_by_id, user_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where user_Id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    delete from user
    where user_Id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.builbu.business.user.entity.User">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    insert into user (user_Id, create_By_Date, create_By_Id, 
      email, Icons, nickname, 
      on_Line_Status, password, update_by_date, 
      update_by_id, user_type)
    values (#{userId,jdbcType=BIGINT}, #{createByDate,jdbcType=TIMESTAMP}, #{createById,jdbcType=BIGINT}, 
      #{email,jdbcType=VARCHAR}, #{icons,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{onLineStatus,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{updateByDate,jdbcType=TIMESTAMP}, 
      #{updateById,jdbcType=BIGINT}, #{userType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.builbu.business.user.entity.User">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_Id,
      </if>
      <if test="createByDate != null">
        create_By_Date,
      </if>
      <if test="createById != null">
        create_By_Id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="icons != null">
        Icons,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="onLineStatus != null">
        on_Line_Status,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="updateByDate != null">
        update_by_date,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="userType != null">
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createByDate != null">
        #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="icons != null">
        #{icons,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="onLineStatus != null">
        #{onLineStatus,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="updateByDate != null">
        #{updateByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.builbu.business.user.entity.User">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    update user
    <set>
      <if test="createByDate != null">
        create_By_Date = #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_By_Id = #{createById,jdbcType=BIGINT},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="icons != null">
        Icons = #{icons,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="onLineStatus != null">
        on_Line_Status = #{onLineStatus,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="updateByDate != null">
        update_by_date = #{updateByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=BIGINT},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
    </set>
    where user_Id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.builbu.business.user.entity.User">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-01-05 15:38:20.
    -->
    update user
    set create_By_Date = #{createByDate,jdbcType=TIMESTAMP},
      create_By_Id = #{createById,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      Icons = #{icons,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      on_Line_Status = #{onLineStatus,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      update_by_date = #{updateByDate,jdbcType=TIMESTAMP},
      update_by_id = #{updateById,jdbcType=BIGINT},
      user_type = #{userType,jdbcType=INTEGER}
    where user_Id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>