<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.builbu.business.user.repository.UserMapper">
  <resultMap id="BaseResultMap" type="top.builbu.business.user.entity.User">
     <id column="user_Id" jdbcType="BIGINT" property="userId" />
     <result column="create_by_date" jdbcType="TIMESTAMP" property="createByDate" />
     <result column="create_by_id" jdbcType="BIGINT" property="createById" />
     <result column="login_name" jdbcType="VARCHAR" property="loginName" />
     <result column="email" jdbcType="VARCHAR" property="email" />
     <result column="icons" jdbcType="VARCHAR" property="icons" />
     <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
     <result column="on_line_status" jdbcType="INTEGER" property="onLineStatus" />
     <result column="password" jdbcType="VARCHAR" property="password" />
     <result column="phone" jdbcType="VARCHAR" property="phone" />
     <result column="address" jdbcType="VARCHAR" property="address" />
     <result column="update_by_date" jdbcType="TIMESTAMP" property="updateByDate" />
     <result column="update_by_id" jdbcType="BIGINT" property="updateById" />
     <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  
  
  <resultMap id="BaseResultMapDTO" type="top.builbu.business.user.dto.UserDTO">
     <id column="user_Id" jdbcType="BIGINT" property="userId" />
     <result column="create_by_date" jdbcType="TIMESTAMP" property="createByDate" />
     <result column="create_by_id" jdbcType="BIGINT" property="createById" />
     <result column="login_name" jdbcType="VARCHAR" property="loginName" />
     <result column="email" jdbcType="VARCHAR" property="email" />
     <result column="icons" jdbcType="VARCHAR" property="icons" />
     <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
     <result column="on_line_status" jdbcType="INTEGER" property="onLineStatus" />
     <result column="password" jdbcType="VARCHAR" property="password" />
     <result column="phone" jdbcType="VARCHAR" property="phone" />
     <result column="address" jdbcType="VARCHAR" property="address" />
     <result column="update_by_date" jdbcType="TIMESTAMP" property="updateByDate" />
     <result column="update_by_id" jdbcType="BIGINT" property="updateById" />
     <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  
  <sql id="Base_Column_List">
     user_Id,create_by_date,create_by_id,login_name,email,icons,
     nick_name,on_line_status,password,phone,address,update_by_date,
     update_by_id,role_id
  </sql>
<!-- 列表  -->
  <select id="selectByList"  resultMap="BaseResultMapDTO">
     select 
     <include refid="Base_Column_List" />
     from user where 1=1
      <if test="dto.userId != null">
      and  user_Id = #{dto.userId,jdbcType=BIGINT}
      </if>
      <if test="dto.createByDate != null">
      and  create_by_date = #{dto.createByDate,jdbcType=TIMESTAMP}
      </if>
      <if test="dto.createById != null">
      and  create_by_id = #{dto.createById,jdbcType=BIGINT}
      </if>
      <if test="dto.loginName != null">
      and  login_name = #{dto.loginName,jdbcType=VARCHAR}
      </if>
      <if test="dto.email != null">
      and  email = #{dto.email,jdbcType=VARCHAR}
      </if>
      <if test="dto.icons != null">
      and  icons = #{dto.icons,jdbcType=VARCHAR}
      </if>
      <if test="dto.nickName != null">
      and  nick_name = #{dto.nickName,jdbcType=VARCHAR}
      </if>
      <if test="dto.onLineStatus != null">
      and  on_line_status = #{dto.onLineStatus,jdbcType=INTEGER}
      </if>
      <if test="dto.password != null">
      and  password = #{dto.password,jdbcType=VARCHAR}
      </if>
      <if test="dto.phone != null">
      and  phone = #{dto.phone,jdbcType=VARCHAR}
      </if>
      <if test="dto.address != null">
      and  address = #{dto.address,jdbcType=VARCHAR}
      </if>
      <if test="dto.updateByDate != null">
      and  update_by_date = #{dto.updateByDate,jdbcType=TIMESTAMP}
      </if>
      <if test="dto.updateById != null">
      and  update_by_id = #{dto.updateById,jdbcType=BIGINT}
      </if>
      <if test="dto.roleId != null">
      and  role_id = #{dto.roleId,jdbcType=VARCHAR}
      </if>
     order by user_Id desc limit #{offset},#{limit}
  </select>
  
<!-- 主键查询  -->

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user    
    where user_Id = #{userId,jdbcType=BIGINT}
  </select>
  

<!-- 主键删除 --> 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where user_Id = #{userId,jdbcType=BIGINT}
  </delete>


<!-- 插入  -->
  <insert id="insert" parameterType="top.builbu.business.user.entity.User">
    insert into user (
	    user_Id,create_by_date,create_by_id,login_name,email,icons,
	    nick_name,on_line_status,password,phone,address,update_by_date,
	    update_by_id,role_id
      )
    values (
         #{userId,jdbcType=BIGINT}, #{createByDate,jdbcType=TIMESTAMP}, #{createById,jdbcType=BIGINT}, #{loginName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{icons,jdbcType=VARCHAR},
         #{nickName,jdbcType=VARCHAR}, #{onLineStatus,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{updateByDate,jdbcType=TIMESTAMP},
         #{updateById,jdbcType=BIGINT}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
 
<!-- 修改 -->  
  <update id="updateByPrimaryKey" parameterType="top.builbu.business.user.entity.User">
    update user
    <set>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createByDate != null">
        create_by_date = #{createByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="icons != null">
        icons = #{icons,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="onLineStatus != null">
        on_line_status = #{onLineStatus,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateByDate != null">
        update_by_date = #{updateByDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR}
      </if>
    </set>
  
    where user_Id = #{userId,jdbcType=BIGINT}
   
  </update>
<!--   批量删除       -->
  <delete id="deleteByAll" parameterType="java.lang.Long">
      delete from user where user_Id in
      <foreach item="id" collection="delids" open="(" separator="," close=")">
          #{id}
      </foreach>
  </delete>  
  
  <select id="selectByCount" resultType="java.lang.Integer">
		select count(1)
		from user where 1=1
	      <if test="dto.userId != null">
	      and  user_Id = #{dto.userId,jdbcType=BIGINT}
	      </if>
	      <if test="dto.createByDate != null">
	      and  create_by_date = #{dto.createByDate,jdbcType=TIMESTAMP}
	      </if>
	      <if test="dto.createById != null">
	      and  create_by_id = #{dto.createById,jdbcType=BIGINT}
	      </if>
	      <if test="dto.loginName != null">
	      and  login_name = #{dto.loginName,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.email != null">
	      and  email = #{dto.email,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.icons != null">
	      and  icons = #{dto.icons,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.nickName != null">
	      and  nick_name = #{dto.nickName,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.onLineStatus != null">
	      and  on_line_status = #{dto.onLineStatus,jdbcType=INTEGER}
	      </if>
	      <if test="dto.password != null">
	      and  password = #{dto.password,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.phone != null">
	      and  phone = #{dto.phone,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.address != null">
	      and  address = #{dto.address,jdbcType=VARCHAR}
	      </if>
	      <if test="dto.updateByDate != null">
	      and  update_by_date = #{dto.updateByDate,jdbcType=TIMESTAMP}
	      </if>
	      <if test="dto.updateById != null">
	      and  update_by_id = #{dto.updateById,jdbcType=BIGINT}
	      </if>
	      <if test="dto.roleId != null">
	      and  role_id = #{dto.roleId,jdbcType=VARCHAR}
	      </if>
	</select>
	
	<select id="login" parameterType="java.lang.String" resultMap="BaseResultMapDTO">
	 select * from user where login_name = #{loginName} and password = #{passWord}
	</select>
</mapper>