<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.builbu.business.token.repository.AccessTokenMapper">
  <resultMap id="BaseResultMap" type="top.builbu.business.token.entity.AccessToken">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="js_api_ticket" jdbcType="VARCHAR" property="jsApiTicket" />
    <result column="expires_in" jdbcType="INTEGER" property="expiresIn" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="token" jdbcType="VARCHAR" property="token" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    id, js_api_ticket, expires_in, create_time, token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    select 
    <include refid="Base_Column_List" />
    from access_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    delete from access_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.builbu.business.token.entity.AccessToken">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    insert into access_token (id, js_api_ticket, expires_in, 
      create_time, token)
    values (#{id,jdbcType=INTEGER}, #{jsApiTicket,jdbcType=VARCHAR}, #{expiresIn,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.builbu.business.token.entity.AccessToken">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    insert into access_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jsApiTicket != null">
        js_api_ticket,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="token != null">
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jsApiTicket != null">
        #{jsApiTicket,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.builbu.business.token.entity.AccessToken">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    update access_token
    <set>
      <if test="jsApiTicket != null">
        js_api_ticket = #{jsApiTicket,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.builbu.business.token.entity.AccessToken">
    <!--
      WARNING - @mbggenerated
      Generated on 2016-12-28 14:04:08.
    -->
    update access_token
    set js_api_ticket = #{jsApiTicket,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      token = #{token,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>